body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ffcccc; /* rosa */
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/666/849/desktop-wallpaper-kawaii-cat-phone-backgrounds-kawaii-cat-phone.jpg'); /* estampa de gatos fofos */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #fff;
}

h1 {
  font-weight: 300;
  display: inline; 
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
}

.question {
  margin-top: 50px;
}

.buttons {
  display: inline-block;
  margin-top: 20px;
}

button {
  padding: 10px 40px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  border: transparent;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:first-child {
  background-color: green;
}

button:nth-child(2) {
  background-color: red;
}

